.home{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.home canvas{
	margin: 0;
	width: 100%;
	height: 300px;
	transform: scale(0.7);
}

.description{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.home .description .link {
	text-decoration: underline;
}

.paragraph{
	margin: 0;
	font-size: clamp(20px, 2vw, 30px);
	overflow: hidden;
}

.loading{
	width: 100%;
	height: 300px;
	position: relative;
}

.loading::after{
	content: '';
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	animation: example 2s ease infinite;
}

@keyframes example {
  0% {left: 40%;}
  50% {left: 60%;}
  100% {left:40%;}
}




