@import 'App.css';

*, ::before, ::after {
	box-sizing: border-box;
	margin: 10px;
	/*overflow: hidden;*/
}

body{
	background-color: sandybrown;
}

a{
	text-decoration: none;
}

a:visited, :focus{
	color: black;
}