@import 'App.css';

*, ::before, ::after {
	box-sizing: border-box;
	margin: 10px;
}

body{
	background-color: sandybrown;
	overflow: hidden;
}

a{
	text-decoration: none;
}

a:visited, :focus{
	color: black;
}