.products{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card{
	min-width: 200px;
}

.spline{
	height: 200px;
	background-color: green;
}

.card > .item{
	text-align: center;
	font-weight: lighter;
}

.card > .price{
	float: right;
	margin: 0 15px 0 0;
}